:root {
    --colorText: black;
    --colorDocument: white;
    --colorDocumentSecondary: #dfe0e0;
    --colorMain: #d0826f;
    --colorSecondary: #3b4358;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Assistant, sans-serif;
    font-size: 110%;
    line-height: 200%;
    box-sizing: border-box !important;
    width: 100%;
}

ul.with-style {
    list-style: inside;
}

i {
    display: inline !important;
}

a.default_link {
    cursor: pointer;
}