main > header {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: var(--colorSecondary);
    color: white;
    font-weight: 400;
}
main > header h1 {
    font-size: 2.2rem;
}

main > header h2 {
    font-size: 1.6rem;
    font-style: italic;
}

#headerTextContent {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

#headerTextContent > ul {
    display: flex;    
    flex-direction: column;
    justify-content: center;

    text-align: center;
    margin-top: 2rem;
    gap: 0.3rem;
}

#headerTextContent > ul li {
    transition-duration: 0.3s;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#headerTextContent > ul li a {
    display: block;
}

#headerTextContent > ul li:hover {
    transition-duration: 0.5s;
    /* color: black; */
    background-color: #456;
    box-shadow: 0 2px 5px 0 #567;
}
#headerTextContent > ul li i {
    margin-right: 0.3rem;
}


main > header figure figcaption {
    text-align: center;
}
main > header figure img,
main > header figure figcaption {
    display: none;
}

@media only screen and (min-width: 800px) {
    main > header figure img {
        display: block;
        border-radius: 50%;
        max-height: 300px;
    }
    #headerTextContent > ul {
        flex-direction: row;
    }

}
