nav,
nav ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    background-color: #100007;

    width: 100%;
}
nav ul {
    column-gap: 0.1rem;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    color: #FFDED6;
    padding: 1.5rem 2rem;
}


nav ul li a:hover {
    background-color: #546A76;
    /* color: black;   */
}

nav ul li a.active {
    background-color: #FFDED6;
    color: black;
}